td {
    height: 60px;
    width: 60px;
    content: attr("nearbyBombs");
}

#draw {
    background-color: green;
    color: white;
}

#reset {
    background-color: red;
    color: white;
}

.bomb {
    background-image: url("https://media3.giphy.com/media/3oKIP9lEHLNmzoeJeU/200w.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60px;
    width: 60px;
}

.clicked {
    background-color: white;
}

.unclicked {
    background-color: grey;
    background-image: none !important;
}